<!DOCTYPE html>
<html>

<body>

  <div class="header" style="width:1880px;height:200px;border:4px solid #000; margin: 0 auto;">
    <h1>NotesA</h1>
  </div>


<div class="main">
<div class="label">
  Notebooks
</div>

<div class="notebooks">


    <% @notebooks.each do |notebook| %>

        <!-- <div class= "card">
          <h2><%#= notebook.title this would be used for seeding%></h2>
        </div> -->
        <div class="notebook">
          <p class="content" ><%= notebook.content %></p>
        </div>

       <div class="notebookinfo">
          <%= link_to 'Notebook info', notebook_path(notebook) %>
      </div>
          <!--<p class="time"><%= notebook.created_at %></p> -->

    <% end %>

    <p></p>
    <%= link_to 'New Notebook', "notebooks/new" %>

    <% #@notebooks.each do |notebook| %>
  <!--<div class="notebook">
    <h1 class="notebook-title"><%#= link_to notebook.title, notebook %></h1>
    <p class="notebook-content"><%#= notebook.content %></p>
  </div> -->
<%# end %>

</div>
</div>
</div>
</body>
</html>
