<!DOCTYPE html>
<html>
<head>

<style>

div.header{
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: #FFD700;
  font-size: 95px;
}

body{
background-color: black;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
background-color: #111;
}

div.back{
color: #FFD700;
}

div.createnotebook{
background-color: white;
}

div.notebooks{
color: #FFD700;
}

tr.notebooks1{
  background-color: white;
  font-size: 30px;
}

link{
  color: yellow;
}

</style>


</head>
<body>
<div class="container">
  <div class="header" style="width:1515px;height:200px;border:3px solid #FFFAF0;">
    <h1>Notes App</h1>
  </div>

  <ul class="nav">
    <li><a class="nav" href="http://localhost:3000/notebooks/">Home</a></li>
    <li><a class="nav" href="http://localhost:3000/notebooks/new">Notebooks</a></li>
  </ul>

<div class="createnotebook">
Enter new notebook: <br />
  <%= form_for @notebook do |f| %>
        Name: <%= f.text_field :name %> <br />


      <%= f.submit %>
   <% end %>
 </div>

   <hr />

   <div class ="notebooks">
   List of all notebooks: <br />
    <% if !@notebooks.blank? %>
    <table border=1>
      <tr>
        <th> Name </th>
      </tr>
    <% for item in @notebooks %>
     <tr class ="notebooks1">
       <td> <%= link_to item.name,  :controller => :notes, :action => :new, :id => item.id %>  <img src="https://www.wpclipart.com/education/supplies/notebook/spiral_notebook_dark_green.svg" alt="Notebook" style="width:28px;height:40px; float: right"></td>

    </tr>
  <% end %>
</table>

<% end %>
</div>
</div>
</div>
</body>
</html>
