<!DOCTYPE html>
<html>
<head>

  <style>

  div.header{
    margin: 0 auto;
  }


  h1 {
    text-align: center;
    color: #FFD700;
    font-size: 95px;
}

body{
  background-color: black;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
  float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
  background-color: #111;
}

div.message{
  text-align: center;
  color: #FFD700;
  font-size: 35px;
}

  </style>

</head>
<body>

  <div class="header" style="width:1515px;height:200px;border:3px solid #FFFAF0;" >
    <h1>NotesApp</h1>
  </div>

<ul class="nav">
  <li><a class="nav" href="http://localhost:3000/notebooks/">Home</a></li>
  <li><a class="nav" href="http://localhost:3000/notebooks/new">Notebooks</a></li>
</ul>

<div class ="message">
  Welcome to NotesApp, click on the Notebooks tab to begin creating notes!


</div>
</body>
</html>
