<div class="header">
  <div class="container">
    <img src="">
    <h1>NotesApp</h1>
  </div>
</div>

<div class="notes">
  <div class="container">
  
<% @notes.each do |note| %>
    <div class="note">
      <p class="content"><%= note.content %></p>
      <!--<p class="time"><%= note.created_at %></p> -->
    </div>
    <% end %>

  </div>
</div>

